:root {
  /* Text and background (light and dark modes) */
  --color-bkgd-lt: white;
  --color-bkgd-dk: black;
  --color-text-lt: hsl(358, 5%, 18.8%);
  --color-text-dk: hsl(358, 5%, 88.6%);
  --color-bkgd-lt-trans: rgba(255, 255, 255, 0.9);
  --color-bkgd-dk-trans: rgba(0, 0, 0, 0.9);
  /* for drop shadows */
  --color-black-trans: rgba(0, 0, 0, 0.2);
  
  /* APMG brand colors */
  --color-red: #b4111a;
  --color-green: #84c446;
  --color-darkred: #9a272a;
  --color-lightred: #ffcccc;
  --color-yellow: #fec512;
  --color-gold: #9d6701;
  --color-blue: #4298b5;
  --color-black: #000000;
  --color-white: #ffffff;

  /* The Current brand colors */
  --color-current-red: hsl(358, 100%, 36%);
  --color-current-red-bright: hsl(358, 100%, 45%);
  --color-current-red-brighter: hsl(358, 100%, 55%);
  --color-current-red-dark: hsl(358, 100%, 24%);
  --color-current-red-trans: hsla(358, 100%, 36%, 0.25);

  /* The Current gray palette */
  --color-gray-90: hsl(358, 5%, 88.6%);
  --color-gray-80: hsl(358, 5%, 77.6%);
  --color-gray-70: hsl(358, 5%, 67.1%);
  --color-gray-60: hsl(358, 5%, 56.5%);
  --color-gray-50: hsl(358, 5%, 46.3%);
  --color-gray-40: hsl(358, 5%, 36.9%);
  --color-gray-30: hsl(358, 5%, 27.5%);
  --color-gray-20: hsl(358, 5%, 18.8%);
  --color-gray-10: hsl(358, 5%, 10.6%);

  /* Light mode is default */
  --color-bkgd: var(--color-bkgd-lt);
  --color-text: var(--color-text-lt);
  --color-invr: var(--color-text-dk);
  --color-bkgd-trans: var(--color-bkgd-lt-trans);
  --color-link: var(--color-current-red);
  --color-link-active: var(--color-current-red-bright);
}

/* Dark mode adjustments */
@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-bkgd: var(--color-bkgd-dk);
    --color-text: var(--color-text-dk);
    --color-invr: var(--color-text-lt);
    --color-bkgd-trans: var(--color-bkgd-dk-trans);
    --color-link: var(--color-current-red-bright);
    --color-link-active: var(--color-current-red-brighter);
    }
}

/* When blur is available, transparent backgrounds can be less opaque */
@supports (backdrop-filter: blur(1.5rem)) {
  :root {
    --color-bkgd-lt-trans: rgba(255, 255, 255, 0.7);
    --color-bkgd-dk-trans: rgba(0, 0, 0, 0.7);  
  }
}

/* Print style adjustments */
@media print {
  :root {
    --color-bkgd: white;
    --color-text: black;
    --color-invr: white;
    --color-bkgd-trans: white;
  }
}

/* Defaults with fallback for older browsers */
body {
  /* fallback */
  color: #363031;
  background-color: white;
  color: var(--color-text);
  background-color: var(--color-bkgd);
  background-image: radial-gradient(circle at 35% 15%, var(--color-bkgd), var(--color-invr));
  background-attachment: fixed;
}

a {
  color: #b70005;
  color: var(--color-link);
}
a:active,
a:focus,
a:hover {
  color: #ff0008;
  color: var(--color-link-active);
}
