/* jump nav for homepage (mobile only) */

.nav-homepage {
  margin: 0 -1rem;
  background-color: var(--color-bkgd);
}

.nav-homepage-sections {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.nav-homepage li {
  flex-basis: 1fr;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
}
.nav-homepage li::before {
  content: '';
}

.nav-homepage a {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-homepage a:active,
.nav-homepage a:hover {
  background-color: var(--color-invr);
  text-decoration-color: transparent;
}

@media screen and (min-width: 40em) {
  .nav-homepage {
    display: none;
  }
}