/* Story tiles */

.teaser-story {
  margin: 0 0 1.5rem;
  display: grid;
  row-gap: 0.5rem;
  column-gap: 1.5rem;
  justify-content: start;
  grid-template: 
    'titl' auto
    'imag' auto
    'date' auto
    'blrb' auto;
}

.teaser-title {
  grid-area: titl;
  margin: 0;
}

.teaser-image {
  grid-area: imag;
}

.teaser-image img {
  transition: transform var(--time-short) ease-out;
}

.teaser-image a:active img,
.teaser-image a:focus img,
.teaser-image a:hover img {
  transform: scale(1.02);
}

.teaser-date {
  grid-area: date;
}

.teaser-blurb {
  grid-area: blrb;
}

.teaser-blurb .link-readmore {
  margin-left: 0.5rem;
}

@media screen and (min-width: 40em) {
  .teaser-story {
    grid-template:
      'titl titl' auto
      'imag date' 1rem
      'imag blrb' auto
      / 1fr 1fr;
  }
}

@media screen and (min-width: 50em) {
  .teaser-story {
    grid-template: 
      'titl' auto
      'imag' auto
      'date' auto
      'blrb' auto;
  }
}

@media screen and (min-width: 60em) {
  .teaser-story {
    grid-template:
      'titl titl' auto
      'imag date' 1.5rem
      'imag blrb' auto
      / 1fr 1fr;
  }
}

/* Events list */

.events-teaser-list h3 {
  margin: 0 0 0.5rem;
}

.events-teaser-list dl {
  display: grid;
  row-gap: 1.5rem;
  column-gap: 1rem;
  grid-template-columns: max-content fit-content(30%) 1fr;
}

.events-teaser-list dt,
.events-teaser-list dd {
  display: contents;
}

.event-preview-image img {
  transition: transform var(--time-short) ease-out;
}

.event-preview-image:active img,
.event-preview-image:focus img,
.event-preview-image:hover img {
  transform: scale(1.05);
}

.events-teaser-list dd a:not(:active):not(:focus):not(:hover) {
  color: var(--color-text);
  text-decoration-color: transparent;
}

/* Combined grid */

.stories-title {
  margin-top: 0;
}

.stories-title > .link-readmore {
  margin: 0 0.3rem;
}

@media screen and (min-width: 50em) {
  .stories-events {
    display: grid;
    gap: 1.5rem;
    grid-template: 
      'title title' auto
      'story event' auto
      / 1fr 1fr;
  }

  .stories-title {
    grid-area: title;
    margin-bottom: 0;
  }

  .stories-teaser-list {
    grid-area: story;
  }

  .events-teaser-list {
    grid-area: event;
  }
}

@media screen and (min-width: 60em) {
  .stories-events {
    display: grid;
    gap: 1.5rem;
    grid-template: 
      'title title title' auto
      'story story event' auto
      / 1fr 1fr 1fr;
  }
}
