/* Times used for animations */

:root {
  --time-short: 0.1s;
  --time-medium: 0.3s;
  --time-long: 1s;
}

/* disable animations */
@media screen and (prefers-reduced-motion: reduce) {
  :root {
    --time-short: 0.001ms;
    --time-medium: 0.001ms;
    --time-long: 0.001ms;
  }
}
