body {
  font-family: "Univers TC", system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* defaults */

h1,
.type-mega {
  font-size: 3rem; /* fallback */
  font-size: var(--type-size-mega);
  font-weight: 700;
  line-height: 1.125;
}
h2,
.type-huge {
  font-size: 2rem; /* fallback */
  font-size: var(--type-size-huge);
  font-weight: 700;
  line-height: 1.125;
}
h3,
.type-large {
  font-size: 1.5rem; /* fallback */
  font-size: var(--type-size-large);
  font-weight: 700;
  line-height: 1.125;
}
h4,
.type-hefty {
  font-size: 1rem; /* fallback */
  font-size: var(--type-size-hefty);
  font-weight: 700;
  line-height: 1.5rem;
}
h5,
.type-strong {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}
h6,
.type-caption {
  font-size: 0.9375rem;
  font-size: var(--type-size-caption);
  line-height: 1.5rem;
}
h3.type-caption,
h6 {
  text-transform: uppercase;
  letter-spacing: 0.01rem;
}
.type-mini {
  font-size: 0.875rem;
  font-size: var(--type-size-mini);
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
}
.type-micro {
  font-size: 0.75rem;
  font-size: var(--type-size-micro);
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 1.5rem 0;
}
li {
  margin: 0;
}
.type-snug-up {
  margin-top: 0;
}
.type-snug-down {
  margin-bottom: 0;
}

a {
  color: var(--color-link);
  text-decoration-thickness: 1px;
  text-underline-offset: 0.08em;
  text-decoration-color: var(--color-current-red-trans);
  transition: color 0.15s ease-out,
    text-decoration-color 0.15s ease-out,
    text-decoration-thickness 0.15s ease-out;
}
a:active,
a:focus,
a:hover {
  color: var(--color-link-active);
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-decoration-color: var(--color-link-active);
}

nav a {
  color: var(--color-text);
  text-decoration-color: transparent;
}

.link-readmore,
.link-listen {
  display: inline-block;
}

.link-readmore::after {
  content: '\00a0\2192';
  text-decoration: none;
}

.link-listen::after {
  content: '\00a0\25b6';
  text-decoration: none;
}

button {
  /* fix bug where buttons revert to system font */
  font-family: inherit;
}
