/* Define webfont */
@font-face{
  font-family: "Univers TC";
  src: url("fonts/5c8d59c2-9c85-4a22-88e3-bf3fba01dcd8.woff2") format("woff2"),
    url("fonts/fc51d03b-0d7d-45df-9415-3c6270c80749.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: "Univers TC";
  src: url("fonts/16282755-c749-4137-8d4d-8f240f99754e.woff2") format("woff2"),
    url("fonts/1aefeb33-7095-4b96-a70b-3519dd04b66c.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face{
  font-family: "Univers TC";
  src: url("fonts/3bdb4597-ff70-447c-8620-8836686bf840.woff2") format("woff2"),
    url("fonts/5599ac9f-d136-4277-aeee-f82aac5d527f.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face{
  font-family: "Univers TC";
  src: url("fonts/a503e1fd-a8d1-4caa-89da-d125c0986f23.woff2") format("woff2"),
    url("fonts/5f07f397-7e1c-4d2d-957b-a4e960af952b.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

/* Type variables, including scaling based on window dimensions */
/* Min size at ≤ 400px/25rem, max size at ≥ 1200px/75rem  */
:root {
  --type-size-mega: clamp(3rem, calc(2.5rem + 1vmin + 1vw), 4rem); /* 48-64px */
  --type-size-huge: clamp(2rem, calc(1.5rem + 1vmin + 1vw), 3rem); /* 32-48px */
  --type-size-large: clamp(1.5rem, calc(1.25rem + 0.5vmin + 0.5vw), 2rem); /* 24-32px */
  --type-size-hefty: clamp(1rem, calc(0.75rem + 0.5vmin + 0.5vw), 1.5rem); /* 16-24px */
  --type-size-caption: 0.9375rem; /* 15px */
  --type-size-mini: 0.875rem; /* 14px */
  --type-size-micro: 0.75rem; /* 12px */
}
