/* homepage features grid */

.features {
  display: grid;
  margin: 1.5rem 0;
  padding: 0;
  gap: 1.5rem;
  grid-template:
    'hero' auto
    'dscv' auto
    'song' auto
    'albm' auto
    / auto;
}

.features .featured-hero {
  grid-area: hero;
}
.features .featured-discovery {
  grid-area: dscv;
}
.features .featured-song {
  grid-area: song;
}
.features .featured-album {
  grid-area: albm;
}

.features h3:first-child {
  margin: 0;
}

@media screen and (min-width: 40em) {
  .features {
    grid-template:
      'hero hero hero' auto
      'song albm dscv' auto
      / 1fr 1fr 1fr;
  }
  .features .featured-discovery {
    padding-top: 1.5em;
  }
}

@media screen and (min-width: 60em) {
  .features {
    grid-template:
      'hero hero dscv' auto
      'hero hero song' auto
      'hero hero albm' 1fr
      / 1fr 1fr 1fr;
  }
  .features .hero-title,
  .features .hero-image > * {
    right: 0;
  }
  .features .featured-discovery {
    padding-top:0;
  }
}

/* SotD / AotW tiles */

.features a:not(.link-readmore) {
  text-decoration-color: transparent;
}
.features a:active,
.features a:focus,
.features a:hover {
  text-decoration-color: inherit;
}

.featured-artist a {
  color: var(--color-text);
  text-decoration: none;
}
.featured-artist a:active,
.featured-artist a:focus,
.featured-artist a:hover {
  color: var(--color-link-active);
}

.featured a .featured-blurb {
  text-decoration-color: var(--color-current-red-trans);
}

.featured-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: auto auto 1fr;
  column-gap: 1.5rem;
  row-gap: 0.5rem;
  grid-template-areas:
    "img ttl"
    "img art"
    "img blb";
}

.featured-title {
  grid-area: ttl;
  line-height: 1;
  margin: 0;
}

.featured-artist {
  grid-area: art;
  color: var(--color-text);
  line-height: 1;
}

.featured-blurb {
  grid-area: blb;
  line-height: 1rem;
}

.featured-image {
  grid-area: img;
  position: relative;
  height: 0;
  padding-top: 100%;
  background-color: white;
}

.featured-image img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  display: block;
  width: 100%;
  height: auto;
  transition: transform var(--time-short) ease-out;
}

.featured-image a:active img,
.featured-image a:focus img,
.featured-image a:hover img {
  transform: scale(1.05);
}

@media screen and (min-width: 40em) {
  .featured-card {
    grid-template-columns: auto;
    grid-auto-rows: auto;
    grid-template-areas:
      "img"
      "ttl"
      "art"
      "blb";
  }
}

@media screen and (min-width: 60em) {
  .featured-card {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto auto 1fr;
    grid-template-areas:
      "img ttl"
      "img art"
      "img blb";
    }
}
