.hero-banner {
  position: relative;
  height: 0;
  /* padding-bottom: 56.25%; */
  padding-bottom: 75%;
}

.hero-banner a {
  color: white;
  text-decoration: none;
}
.hero-banner a:active,
.hero-banner a:focus,
.hero-banner a:hover {
  color: var(--color-current-red-bright);
  text-decoration: none;
}

.hero-title {
  position: absolute;
  bottom: 0;
  left: -1rem;
  right: -1rem;
  margin: 0;
  padding: 2rem 1rem 0.5rem;
  line-height: 1;
  text-shadow: 0 0 1px black, 0 0 1rem black;
  background-image: linear-gradient(
    to bottom,
    transparent,
    var(--color-current-red-trans) 2rem,
    black 100%
  );
}
.hero-title,
.hero-title * {
  z-index: 2;
}

.hero-image {
  position: relative;
  height: 0;
  /* padding-bottom: 56.25%; */
  padding-bottom: 75%;
}

.hero-image > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1rem;
  right: -1rem;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero-blurb {
  margin: 0.5rem 0 0;
}

.hero-blurb .link-readmore {
  margin-left: 0.5rem;
}