/* Audio Player UI */

.audio-player .playerWrapper {
  width: 100%;
  display: grid;
  row-gap: 0.5rem;
  column-gap: 1.5rem;
  align-items: center;
  grid-template:
    'info info info' auto
    'play volm volm' auto
    'time time mini' auto
    / auto 1fr min-content;
  line-height: 1.125;
}

.audio-player .playerColumn1 {
  grid-area: play;
}

.audio-player .playerColumn2 {
  grid-area: info;
}

.audio-player .playerColumn3 {
  grid-area: time;
}

.audio-player .playerColumn4 {
  grid-area: volm;
  justify-self: flex-end;
  width: 100%;
  max-width: 20rem;
}

.audio-player .stickPlayerButton {
  grid-area: mini;
}

.audio-player .playerControls,
.audio-player .progressBarContainer,
.audio-player .volumeBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.audio-player .playerControls button + button {
  margin-left: 0.5rem;
}

.audio-player .textSection div {
  display: inline;
}

.audio-player .textSection div + div::before {
  content: '\a0\b7\a0';
}

.audio-player .progressBar {
  height: 0.5rem;
  position: relative;
  cursor: pointer;
}

.audio-player .player_time {
  width: max-content;
  font-size: var(--type-size-mini);
  font-weight: 600;
  font-variant-numeric: tabular-nums;
  line-height: 1;
}

.audio-player .progressBarControls {
  flex-grow: 1;
  padding: 0 0.5rem;
}

.audio-player .timelineBg {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--color-invr);
}

.audio-player .currentProgress {
  border-radius: 0.5rem;
  background-color: var(--color-link);
  position: absolute;
  height: 100%;
  left: 0;
}

.audio-player .currentProgress::after {
  content: '';
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  width: 1.5em;
  height: 1.5rem;
  border-radius: 1.5rem;
  background-color: var(--color-link-active);
}

.audio-player .volumeBarContainer {
  max-width: 20rem;
}

.audio-player .volumeBarControls {
  flex-grow: 1;
  padding-left: 0.5rem;
  cursor: pointer;
}

.audio-player .volumeBar {
  position: relative;
  width: 100%;
  height: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--color-invr);
}

.audio-player .volumeBar .currentProgress {
  border-radius: 0.25rem;
}

.audio-player .volumeBar .currentProgress::after {
  top: -0.375rem;
  right: -0.375rem;
  width: 1em;
  height: 1rem;
  border-radius: 1rem;
}


.audio-player button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0.25rem;
  border-radius: var(--type-size-hefty);
  font-size: var(--type-size-hefty);
  line-height: 1;
  color: var(--color-bkgd-dk);
  background-color: var(--color-text-dk);
}

.audio-player button:hover {
  background-color: var(--color-bkgd-lt);
}

.audio-player button:focus {
  background-color: var(--color-bkgd-lt);
  box-shadow: 0 0 0 0.25rem inset var(--color-link);
}

.audio-player button:active {
  background-color: var(--color-bkgd-lt);
  color: var(--color-link-active);
  box-shadow: 0 0 0 0.25rem inset var(--color-link-active);
}

.audio-player .playPauseButton {
  border-radius: var(--type-size-huge);
  font-size: var(--type-size-huge);
}

.audio-player svg {
  display: block;
}

.audio-player .player-pause,
.audio-player .player_mute,
.audio-player .invisible {
  display: none;
}

@media screen and (min-width: 40em) {
  .audio-player .playerWrapper {
    grid-template:
      'play info info' auto
      'play volm volm' auto
      'time time mini' auto
      / auto 1fr min-content;
  }

  .audio-player .playerColumn2,
  .audio-player .playerColumn4 {
    justify-self: center;
  }
}

@media screen and (min-width: 50em) {
  .audio-player .playerWrapper {
    grid-template:
      'play info volm volm' auto
      'time time time mini' auto
      / auto 1fr 20rem min-content;
  }

  .audio-player .textSection > div {
    display: inherit;
  }
  
  .audio-player .textSection > div + div::before {
    content: none;
  }
  
  .audio-player .playerColumn2 {
    justify-self: flex-start;
  }
  
  .audio-player .playerColumn4 {
    justify-self: flex-end;
  }
}

@media screen and (min-width: 60em) {
  .audio-player .playerWrapper {
    grid-template:
      'play info volm volm' auto
      'play time time mini' auto
      / auto 1fr 20rem min-content;
  }
}
footer {
  color: white;
  background-color: var(--color-current-red);
}

footer > .wrapper {
  display: grid;
  gap: 1.5rem;
  grid-template:
    "logo logo" auto
    "name name" auto
    "ul-a ul-b" auto
    "copy copy" auto
    / 1fr 1fr;
}

.footer-logo {
  grid-area: logo;
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
}

.footer-logo img {
  max-height: 5rem;
  width: auto;
}

.footer-station-id {
  grid-area: name;
}

.footer-stationinfo-a {
  grid-area: ul-a;
}

.footer-stationinfo-b {
  grid-area: ul-b;
}

.footer-copyright {
  grid-area: copy;
}

footer ul {
  display: block;
  margin: 0;
  padding: 0;
}

footer li {
  display: block;
  list-style: none;
  line-height: 1.125;
  margin: 0 0 0.625rem;
  padding: 0;
  break-inside: avoid;
}

footer a {
  color: white;
}
footer a:active,
footer a:focus,
footer a:hover {
  color: white;
  text-decoration-color: white;
}

@media screen and (min-width: 50em) {
  footer > .wrapper {
    grid-template:
      "logo ul-a ul-b" auto
      "name ul-a ul-b" auto
      "name copy copy" auto
      / 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 75em) {
  footer > .wrapper {
    grid-template:
      "logo logo ul-a ul-b" auto
      "name name ul-a ul-b" auto
      "copy copy copy copy" auto
      / 1fr 1fr 1fr 1fr;
  }
}
header {
  position: sticky;
  top: 0;
  color: var(--color-text);
  background-color: var(--color-bkgd);
  box-shadow: 0 -2px 0 var(--color-bkgd); /* prevent visible sliver peeking out above */
  transition: margin var(--time-medium) ease-out;
}
header.is-scrolled {
  padding: 0.25rem 1rem 0.5rem;
  box-shadow: 0 0 0.5rem var(--color-black-trans),
    0 -2px 0 var(--color-bkgd);
}

header > .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .current-logo {
  margin: 0 1rem 0 -0.5rem;
}

header .logo {
  display: block;
  width: 12rem;
  max-width: 25vmin;
  min-width: 5rem;
  height: auto;
  transition: width var(--time-medium) ease-out,
    transform var(--time-medium) ease-out;
}
header.is-scrolled .logo {
  width: 6rem;
  transform: rotate(-15deg);
}

header .tagline {
  margin: 0 1rem;
  display: none;
  transition: font-size var(--time-medium) ease-out;
}
@media screen and (min-width: 35em) {
  header .tagline {
    display: block;
  }
}
@media screen and (min-width: 75em) {
  header .tagline {
    font-size: var(--type-size-huge);
  }
  header.is-scrolled .tagline {
    font-size: var(--type-size-large);
  }
}

.nav-site-items {
  margin: 0;
  flex-shrink: 0;
  display: grid;
  row-gap: 0.25rem;
  column-gap: 0.5rem;
  justify-content: center;
  grid-template:
    "lstn rqst mgmn" auto
    "dnat dnat srch" auto
    /auto auto auto;
}

.nav-link {
  text-align: right;
  word-break: keep-all;
}

.nav-link-listen {
  grid-area: lstn;
}
.nav-link-request {
  grid-area: rqst;
}
.nav-link-donate {
  grid-area: dnat;
}
.nav-link-search {
  grid-area: srch;
}
.nav-link-megamenu {
  grid-area: mgmn;
}

.is-scrolled .nav-site-items {
  row-gap: 0.125em;
}

.nav-site-items li {
  margin: 0;
  padding: 0;
}
.nav-site-items li::before,
.nav-megamenu-contents li::before {
  /* undo sanitize.css */
  content: none;
}

.nav-site-items li a {
  display: block;
  padding: 0.25rem 0.5rem;
}

.nav-site-items .nav-icon {
  display: inline-block;
  margin-left: 0.25rem;
  transform: scale(1.5);
  transform-origin: 0% 58%; /* why 58%? it looked right */
  text-decoration: none;
}

.nav-megamenu-open,
.nav-megamenu-close {
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  margin: 0;
  padding: 0.25rem 0.5rem;
  font-family: inherit;
  color: var(--color-text);
  background-color: var(--color-bkgd);
}

@media screen and (max-width: 60em) {
  header .verbose {
    display: none;
  }
}

/* megamenu overlay styles */

.nav-megamenu {
  position: fixed;
  top: 1.5rem;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.nav-megamenu.nav-megamenu-off {
  display: none;
}

.nav-megamenu-modal {
  position: absolute;
  width: fit-content;
  max-width: calc(100vw - 3rem);
  max-height: calc(100vh - 3rem);
  z-index: 201;
  padding: 1.5rem;
  background-color: var(--color-bkgd-trans);
  box-shadow: 0.125rem 0.125rem 0.5rem var(--color-black-trans);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-megamenu-contents {
  width: calc(100vw - 3rem);
  max-width: 60rem;
  max-height: 100%;
  overflow-y: auto;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-auto-rows: minmax(6rem, auto);
  align-items: flex-end;
}

.nav-megamenu h4 {
  margin: 0;
  padding: 0;
}

.nav-megamenu ul {
  margin: 0;
}

.nav-megamenu a {
  display: block;
  padding: 0.5rem 0;
  text-decoration-color: var(--color-current-red-trans);
}

.nav-megamenu-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-bkgd-trans);
  backdrop-filter: blur(1.5rem);
}

.nav-megamenu-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: var(--font-size-huge);
}
.hero-banner {
  position: relative;
  height: 0;
  /* padding-bottom: 56.25%; */
  padding-bottom: 75%;
}

.hero-banner a {
  color: white;
  text-decoration: none;
}
.hero-banner a:active,
.hero-banner a:focus,
.hero-banner a:hover {
  color: var(--color-current-red-bright);
  text-decoration: none;
}

.hero-title {
  position: absolute;
  bottom: 0;
  left: -1rem;
  right: -1rem;
  margin: 0;
  padding: 2rem 1rem 0.5rem;
  line-height: 1;
  text-shadow: 0 0 1px black, 0 0 1rem black;
  background-image: linear-gradient(
    to bottom,
    transparent,
    var(--color-current-red-trans) 2rem,
    black 100%
  );
}
.hero-title,
.hero-title * {
  z-index: 2;
}

.hero-image {
  position: relative;
  height: 0;
  /* padding-bottom: 56.25%; */
  padding-bottom: 75%;
}

.hero-image > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1rem;
  right: -1rem;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero-blurb {
  margin: 0.5rem 0 0;
}

.hero-blurb .link-readmore {
  margin-left: 0.5rem;
}

/* homepage features grid */

.features {
  display: grid;
  margin: 1.5rem 0;
  padding: 0;
  gap: 1.5rem;
  grid-template:
    'hero' auto
    'dscv' auto
    'song' auto
    'albm' auto
    / auto;
}

.features .featured-hero {
  grid-area: hero;
}
.features .featured-discovery {
  grid-area: dscv;
}
.features .featured-song {
  grid-area: song;
}
.features .featured-album {
  grid-area: albm;
}

.features h3:first-child {
  margin: 0;
}

@media screen and (min-width: 40em) {
  .features {
    grid-template:
      'hero hero hero' auto
      'song albm dscv' auto
      / 1fr 1fr 1fr;
  }
  .features .featured-discovery {
    padding-top: 1.5em;
  }
}

@media screen and (min-width: 60em) {
  .features {
    grid-template:
      'hero hero dscv' auto
      'hero hero song' auto
      'hero hero albm' 1fr
      / 1fr 1fr 1fr;
  }
  .features .hero-title,
  .features .hero-image > * {
    right: 0;
  }
  .features .featured-discovery {
    padding-top:0;
  }
}/* jump nav for homepage (mobile only) */

.nav-homepage {
  margin: 0 -1rem;
  background-color: var(--color-bkgd);
}

.nav-homepage-sections {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.nav-homepage li {
  flex-basis: 1fr;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
}
.nav-homepage li::before {
  content: '';
}

.nav-homepage a {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-homepage a:active,
.nav-homepage a:hover {
  background-color: var(--color-invr);
  text-decoration-color: transparent;
}

@media screen and (min-width: 40em) {
  .nav-homepage {
    display: none;
  }
}/* Story tiles */

.teaser-story {
  margin: 0 0 1.5rem;
  display: grid;
  row-gap: 0.5rem;
  column-gap: 1.5rem;
  justify-content: start;
  grid-template: 
    'titl' auto
    'imag' auto
    'date' auto
    'blrb' auto;
}

.teaser-title {
  grid-area: titl;
  margin: 0;
}

.teaser-image {
  grid-area: imag;
}

.teaser-image img {
  transition: transform var(--time-short) ease-out;
}

.teaser-image a:active img,
.teaser-image a:focus img,
.teaser-image a:hover img {
  transform: scale(1.02);
}

.teaser-date {
  grid-area: date;
}

.teaser-blurb {
  grid-area: blrb;
}

.teaser-blurb .link-readmore {
  margin-left: 0.5rem;
}

@media screen and (min-width: 40em) {
  .teaser-story {
    grid-template:
      'titl titl' auto
      'imag date' 1rem
      'imag blrb' auto
      / 1fr 1fr;
  }
}

@media screen and (min-width: 50em) {
  .teaser-story {
    grid-template: 
      'titl' auto
      'imag' auto
      'date' auto
      'blrb' auto;
  }
}

@media screen and (min-width: 60em) {
  .teaser-story {
    grid-template:
      'titl titl' auto
      'imag date' 1.5rem
      'imag blrb' auto
      / 1fr 1fr;
  }
}

/* Events list */

.events-teaser-list h3 {
  margin: 0 0 0.5rem;
}

.events-teaser-list dl {
  display: grid;
  row-gap: 1.5rem;
  column-gap: 1rem;
  grid-template-columns: max-content fit-content(30%) 1fr;
}

.events-teaser-list dt,
.events-teaser-list dd {
  display: contents;
}

.event-preview-image img {
  transition: transform var(--time-short) ease-out;
}

.event-preview-image:active img,
.event-preview-image:focus img,
.event-preview-image:hover img {
  transform: scale(1.05);
}

.events-teaser-list dd a:not(:active):not(:focus):not(:hover) {
  color: var(--color-text);
  text-decoration-color: transparent;
}

/* Combined grid */

.stories-title {
  margin-top: 0;
}

@media screen and (min-width: 50em) {
  .stories-events {
    display: grid;
    gap: 1.5rem;
    grid-template: 
      'title title' auto
      'story event' auto
      / 1fr 1fr;
  }

  .stories-title {
    grid-area: title;
    margin-bottom: 0;
  }

  .stories-teaser-list {
    grid-area: story;
  }

  .events-teaser-list {
    grid-area: event;
  }
}

@media screen and (min-width: 60em) {
  .stories-events {
    display: grid;
    gap: 1.5rem;
    grid-template: 
      'title title title' auto
      'story story event' auto
      / 1fr 1fr 1fr;
  }
}
/* Tile cards and grids */

ul.tiles {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

ul.tiles > li,
ul.tiles > a {
  width: 100%;
}

@media screen and (min-width: 30em) {
  ul.tiles.sixup > li,
  ul.tiles.sixup > a {
    width: calc((100% - 1.5rem) / 2);
  }
}

@media screen and (min-width: 40em) {
  ul.tiles > li,
  ul.tiles > a {
    width: calc((100% - 1.5rem) / 2);
  }
  /* ul.tiles.sixup > li,
  ul.tiles.sixup > a {
    width: calc((100% - 3rem) / 3);
  } */
}

@media screen and (min-width: 50em) {
  ul.tiles.sixup > li,
  ul.tiles.sixup > a {
    width: calc((100% - 3rem) / 3);
  }
}

@media screen and (min-width: 60em) {
  ul.tiles > li,
  ul.tiles > a {
    width: calc((100% - 4.5rem) / 4);
  }
  ul.tiles.sixup > li,
  ul.tiles.sixup > a {
    width: calc((100% - 7.5rem) / 6);
  }
}


ul.tiles a {
  text-decoration-color: transparent;
}
ul.tiles a:active,
ul.tiles a:focus,
ul.tiles a:hover {
  text-decoration-color: inherit;
}

/* Playlist tiles */

.playlist-card {
  display: grid;
  grid-template-areas:
    "img img"
    "ttl ttl"
    "art tim";
}

.playlist-title {
  grid-area: ttl;
  margin: 0.5rem 0;
  line-height: 1;
}

.playlist-artist {
  grid-area: art;
  color: var(--color-text);
  line-height: 1;
  vertical-align: top;
}

.playlist-time {
  grid-area: tim;
  color: var(--color-text);
  text-align: right;
  line-height: 1;
  vertical-align: top;
}

.playlist-image {
  grid-area: img;
  /* force square aspect ratio */
  position: relative;
  height: 0;
  padding-top: 100%;
}

.playlist-image img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  display: block;
  width: 100%;
  height: auto;
  transition: transform var(--time-short) ease-out;
}

a:active .playlist-image img,
a:focus .playlist-image img,
a:hover .playlist-image img {
  transform: scale(1.05);
}

.playlist-full {
  display: flex;
  align-items: center;
  justify-content: center;
  /* force square aspect ratio */
  position: relative;
  height: 0;
  padding-top: 100%;
  background-color: var(--color-current-red-trans);
  transition: background-color var(--time-short) ease-out;
}

.playlist-full h4 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  transition: color var(--time-short) ease-out;
}

a:active .playlist-full,
a:focus .playlist-full,
a:hover .playlist-full {
  background-color: var(--color-current-red);
}

a:active .playlist-full h4,
a:focus .playlist-full h4,
a:hover .playlist-full h4 {
  color: var(--color-bkgd);
}

@media screen and (max-width: 60em) {
  .playlist-card {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto auto 1fr;
    grid-template-areas:
      "img tim tim"
      "img ttl ttl"
      "img art art";
  }

  .playlist-time,
  .playlist-title,
  .playlist-artist {
    box-sizing: border-box;
    text-align: left;
    margin: 0.25rem 0 0.25rem 1rem;
  }

  .playlist-full {
    /* force 3:1 aspect ratio */
    padding-top: 33.333%;
  }

  .playlist-full h4 {
    flex-direction: row;
  }
}

@media screen and (max-width: 40rem) {
  .playlist-full {
    /* force 4:1 aspect ratio */
    padding-top: 25%;
  }
}

/* Stream tiles */

.stream-card {
  display: flex;
  flex-direction: column;
}

.stream-title {
  order: 2;
  margin: 0.5rem 0;
  line-height: 1;
}

.stream-description {
  order: 3;
  color: var(--color-text);
  line-height: 1;
}

.stream-card .link-listen {
  margin-left: 0.5rem;
  color: var(--color-link);
  text-decoration-thickness: 1px;
  text-underline-offset: 0.08em;
  text-decoration-color: var(--color-current-red-trans);
  transition: color var(--time-short) ease-out,
    text-decoration-color var(--time-short) ease-out,
    text-decoration-thickness var(--time-short) ease-out;
}

.stream-card .link-listen:active,
.stream-card .link-listen:focus,
.stream-card .link-listen:hover {
  color: var(--color-link-active);
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-decoration-color: var(--color-link-active);
}


.stream-image {
  order: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* force ~21:9 aspect ratio */
  position: relative;
  height: 0;
  padding-top: 43%;
  background-color: white;
  background-image: url('../../images/current-logo.png');
  background-position: center;
  background-size: calc(100% - 3rem);
  background-repeat: no-repeat;
  transition: background-color var(--time-short) ease-out,
    background-size var(--time-short) ease-out;
  overflow: hidden;
}
.stream-image-local-current {
  background-color: #6e615e;
  background-image: url('https://www.thecurrent.org/assets/lc_logo_2x-f9c34db2a6d0e9e2d66968c6879ea081c37b368bf3044902e4ee85709c0a92f0.png');
}
.stream-image-rock-the-cradle {
  background-color: #343741;
  background-image: url('https://www.thecurrent.org/assets/rock-the-cradle-logo-64dbde767aae3150e41add777571c732eace1c2c87a5863c1a1cb5bf2f881c50.svg');
}
.stream-image-radio-heartland {
  background-color: #db792c;
  background-image: url('https://www.thecurrent.org/assets/radio-heartland-logo_2x-8c443f90fa365edd3030056cca5213d39ae63f112c0756ff295dc2a277c135dc.png');
}
.stream-image-purple-current {
  background-color: #423086;
  background-image: url('https://www.thecurrent.org/assets/purple-current-logo-h_2x-cda71841b4625174154dc61e8ee3a4b229a30c793a7b403cd2f9e2a19186347c.png');
}

a:active .stream-image,
a:focus .stream-image,
a:hover .stream-image {
  background-color: var(--color-current-red);
  background-size: calc(100% - 2rem);
}

/* SotD / AotW tiles */

.features a:not(.link-readmore) {
  text-decoration-color: transparent;
}
.features a:active,
.features a:focus,
.features a:hover {
  text-decoration-color: inherit;
}

.featured-artist a {
  color: var(--color-text);
  text-decoration: none;
}
.featured-artist a:active,
.featured-artist a:focus,
.featured-artist a:hover {
  color: var(--color-link-active);
}

.featured a .featured-blurb {
  text-decoration-color: var(--color-current-red-trans);
}

.featured-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: auto auto 1fr;
  column-gap: 1.5rem;
  row-gap: 0.5rem;
  grid-template-areas:
    "img ttl"
    "img art"
    "img blb";
}

.featured-title {
  grid-area: ttl;
  line-height: 1;
  margin: 0;
}

.featured-artist {
  grid-area: art;
  color: var(--color-text);
  line-height: 1;
}

.featured-blurb {
  grid-area: blb;
  line-height: 1rem;
}

.featured-image {
  grid-area: img;
  position: relative;
  height: 0;
  padding-top: 100%;
  background-color: white;
}

.featured-image img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  display: block;
  width: 100%;
  height: auto;
  transition: transform var(--time-short) ease-out;
}

.featured-image a:active img,
.featured-image a:focus img,
.featured-image a:hover img {
  transform: scale(1.05);
}

@media screen and (min-width: 40em) {
  .featured-card {
    grid-template-columns: auto;
    grid-auto-rows: auto;
    grid-template-areas:
      "img"
      "ttl"
      "art"
      "blb";
  }
}

@media screen and (min-width: 60em) {
  .featured-card {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto auto 1fr;
    grid-template-areas:
      "img ttl"
      "img art"
      "img blb";
    }
}
